<% content_for :title, "ClWiki: Find" %>

<%= @formatter.header("Find").html_safe %>

<div class='findInput'>
  <div class='findForm'>
    <%= form_tag(page_find_path) do %>
      <%= text_field_tag 'search_text', @search_text %>
      <%= submit_tag 'Find', name: 'find' %>
    <% end %>
  </div>

  <div class='findDetails'>
    <span>"this that" => <i><b>this</b></i> and <b><i>that</i></b></span><br/>
    <span>"the" => <i><b>the</b></i>, <i><b>the</b>ater</i>, <i>soo<b>the</b></i>, <i>o<b>the</b>r</i></span>
  </div>
</div>

<div style='clear: left'></div>

<div class='findResults'>
  <ul>
    <% @results.each do |result| %>
      <li><%= result.html_safe %></li>
    <% end %>
  </ul>
</div>

<%= @formatter.footer("Find").html_safe %>
